<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class="body">
        <%- include('../partials/header') %>

    <main class="principal-detalle">
        <div class="detalle-pc-1">
        <section class = "img-detalles">
            <article class="imagen-grande">
                <div class="imagen-detalle">
                    <img id="img-detalle" src="<%= producto.product_image%>" alt="">

                </div>
            </article>
            

        </section>
        <section class="detalle-titulo">
            <h4 class="titulo-producto"><%= producto.product_name%></h4>
            <p class="stock">Stock disponible: <%= producto.product_stock%></p>
            <p class="precio-anterior"> categoria: <%=categoria.category_name%></p>
            <p class="precio-anterior">  <%=subcategoria.subcategory_name%></p>
            <h4 class="precio-actual">Precio: $<%= producto.product_price%></h4>
            
            <div class="cantidad">
                <p>Cantidad</p>
                <input  id = "boton-cantidad" type="number" name="cantidad">
            </div>
        </section>
    </div>
    <div class="detalle-pc-2">
        <section class="descripcion">
            <p id="titulo-desc">DESCRIPCIÓN</p>
            <p id ="descripcion">
                <%= producto.product_description%>

            </p>

            
        </section>
        <section class="botones-adquirir">
            <div class="opciones-producto">
                
                <div class="padre-botones">
                    
                    <div class="padre-boton-editar">
                        <a href="/products/<%= producto.product_id%>/editar" ><input class="boton-editar" id="boton-finalizar" type="submit" value="Editar"></a>
                    </div>
                    
                    <div class="padre-boton-finalizar">
                        <form action="/products/<%= producto.product_id%>/petshop/borrar?_method=DELETE" method="POST">
                            <button type="submit" class="boton-eliminar">Eliminar</button>
                        </form>
                       
                    </div>
                    
                </div>
        </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>