<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/editarProducto.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>

<body class="body">
    <%- include('../partials/header') %>
    <h1 class="titulo-general"> ADMINISTRAR PRODUCTOS</h1>
        <div class="contenedor-edicion">
            <div class="crear-producto">
                <h2 class="titulo-crear-producto">Editar producto</h2>
                <form class="formulario"action="/products/<%= productos.product_id%>/editar?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="nombre-producto">
                        <label for="nombre">Producto:</label>
                        <input type="text" name="nombre" placeholder="Nombre del producto" required id="nombre" value = "<%= productos.product_name%>">
                    </div>
                    <div class="precio-producto">
                        <label for="precio">Precio:</label>
                        <input type="text" name="precio" placeholder="precio" required id="precio" value = "<%= productos.product_price%>">
                    </div>
                    <div class="descripcion-producto">
                        <label for="decripcion">Descripcion</label>
                        <input type="text" name="descripcion" placeholder="Descripcion del producto" required id="nombre" value = "<%= productos.product_description%>">
                    </div>
                    <div class="cantidad-producto">
                        <label for="cantidad">Stock:</label>
                        <input class="stock-producto" type="number" name="cantidad" placeholder="Stock"min = "0" value = "<%= productos.product_stock%>">
                    </div>
                    
                    <div class="imagen-producto">
                        <input type="file" name = "img" id="subir-img" accept=".jpg">
                    </div>

                    <div>
                        <label for="categoria">Categorías:</label>
                        <select name="categoria" >
                            <% for ( let i = 0; i < categorias.length; i++){ %>

                            
                            <option value="<%= categorias[i].category_id%>">
                                <%= categorias[i].category_name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="subcategoria">Subcategorías:</label>
                        <select name="subcategoria" >
                            <% for ( let i = 0; i < subcategorias.length; i++){ %>

                            
                            <option value="<%= subcategorias[i].subcategory_id%>">
                                <%= subcategorias[i].subcategory_name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    
                    <div class="boton-crear">
                        <button type="submit">EDITAR</button>
                    </div>
                   
                </form>
            </div>
            
            </div>
        </div>
</body>

</html>